<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:substituteby="head-ca"/>
<body>
<div class="off-canvas-content"
     data-off-canvas-content="data-off-canvas-content">
    <div th:substituteby="header-ca"/>
</div>
<main class="columns">
    <div class="row columns">
        <h1 class="title">Llistat d'acords dels òrgans col·legiats</h1>
    </div>
    <form action="/goc/rest/publicacion/acuerdos"
          method="GET"
          name="form-busqueda">
        <input name="lang"
               th:value="${lang}"
               type="hidden"/>
        <input name="pagina"
               th:value="${pagina}"
               type="hidden"/>
        <div class="row">
            <div class="medium-6 large-6 columns">
                <label>Text:
                    <input name="texto"
                           placeholder="Cercar al text"
                           th:value="${texto}"
                           type="text"/>
                </label>
            </div>
            <div class="medium-1 large-1 columns">
                <label>Anys:
                    <select name="anyo"
                            onchange="this.form.submit()">
                        <option value=""></option>
                        <option th:each="anyoCalculated : ${anyos}"
                                th:selected="${anyo == anyoCalculated}"
                                th:text="${anyoCalculated}"
                                th:value="${anyoCalculated}">Any
                        </option>
                    </select>
                </label>
            </div>
            <div class="medium-2 large-2 columns">
                <label>Dates:
                    <input name="fInicio" placeholder="De la data"
                           th:value="${fInicio}"
                           type="text"/>
                </label>
            </div>
            <div class="medium-2 large-2 columns">
                <label>&nbsp;
                    <input name="fFin" placeholder="Fins la data"
                           th:value="${fFin}"
                           type="text"/>
                </label>
            </div>
            <div class="medium-1 large-1 columns">
            </div>
        </div>
        <div class="row">
            <div class="medium-5 large-5 columns">
                <label>Tipus d'òrgans:
                    <select name="tipoOrganoId"
                            onchange="document['form-busqueda'].organoId.value=''; this.form.submit();">
                        <option value=""></option>
                        <option th:each="tipoOrgano : ${tiposOrganos}"
                                th:selected="${tipoOrganoId == tipoOrgano.id}"
                                th:text="${tipoOrgano.nombre}"
                                th:value="${tipoOrgano.id}">Tipus d'òrgan
                        </option>
                    </select>
                </label>
            </div>
            <div class="medium-6 large-6 columns">
                <label>Òrgans:
                    <select name="organoId"
                            onchange="this.form.submit();">
                        <option value=""></option>
                        <option th:each="organo : ${organos}"
                                th:selected="${organoId == organo.id}"
                                th:text="${organo.nombre}"
                                th:value="${organo.id}">Òrgan
                        </option>
                    </select>
                </label>
            </div>
            <div class="medium-1 large-1 columns">
            </div>
        </div>
        <div class="row">
            <div class="medium-5 large-5 columns">
                <label>Descriptors:
                    <select name="descriptorId"
                            onchange="document['form-busqueda'].claveId.value=''; this.form.submit();">
                        <option value=""></option>
                        <option th:each="desc : ${descriptores}"
                                th:selected="${descriptorId == desc.id}"
                                th:text="${desc.descriptor}"
                                th:value="${desc.id}">Descriptor
                        </option>
                    </select>
                </label>
            </div>
            <div class="medium-6 large-6 columns">
                <label>Claus:
                    <select name="claveId"
                            onchange="this.form.submit();">
                        <option value=""></option>
                        <option th:each="clave : ${claves}"
                                th:selected="${claveId == clave.id}"
                                th:text="${clave.clave}"
                                th:value="${clave.id}">Clau
                        </option>
                    </select>
                </label>
            </div>
            <div class="medium-1 large-1 columns">
                <label>&nbsp;
                    <button class="button float-right"
                            id="filter-button"
                            type="button">Filtrar
                    </button>
                </label>
            </div>
        </div>
    </form>
    <ul class="contentList row columns">
        <li class="reunion"
            th:each="reunion : ${reuniones}">
            <div class="reunion-titulo">
                <span th:text="${reunion.asunto}">Assumpte</span>
                <small th:text="' [' +  ${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')} + ']'"></small>
            </div>
            <div class="collapsible collapsed">
                <blockquote>
                    <div style="display: inline-block;">
                        <strong>Data:</strong>
                        <span th:text="${#dates.format(reunion.fecha,'dd/MM/yyyy HH:mm')}">Data</span>
                    </div>
                    <div style="display: inline;">
                        <strong>Durada:</strong>
                        <span th:text="${reunion.duracion + ' minuts'}">Data</span>
                    </div>
                    <div th:if="${reunion.acuerdos}">
                        <span th:utext="${#strings.replace(reunion.acuerdos,'\n','&lt;br&gt;')}">Acords</span>
                    </div>
                    <div>
                        <strong>Punts de l'ordre del dia:</strong>
                    </div>
                    <div th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}"
                         th:include="tpl_acuerdos-detalle-ca :: puntosOrdenDia"
                         th:with="puntos=${reunion.puntosOrdenDia},i=0">
                    </div>
                </blockquote>
            </div>
        </li>
    </ul>
    <ul aria-label="Pagination"
        class="pagination text-center"
        role="navigation">
        <li th:class="${'pagination-previous ' + (hasPrevPage ? '' : 'disabled')}">
            <a aria-label="Previous page"
               class="prevPage"
               href="#"
               th:if="${hasPrevPage}">Anterior</a>
            <span th:unless="${hasPrevPage}">Anterior</span>
        </li>
        <li th:class="${'pagination-next ' + (hasNextPage ? '' : 'disabled')}">
            <a aria-label="Next page"
               class="nextPage"
               href="#"
               th:if="${hasNextPage}">Següent</a>
            <span th:unless="${hasNextPage}">Següent</span>
        </li>
    </ul>

    <div id="cmpcomponent-loading"></div>
</main>

<link href="/goc/css/loading.css" rel="stylesheet"/>
<script src="/goc/js/acuerdos.js"></script>
<script src="/goc/js/paginator.js"></script>
<script src="/goc/js/loading.js"></script>
</body>
</html>
