<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia"
     th:remove="tag">
            <strong>Punto &uacute;nico.</strong>&nbsp;&nbsp;<strong th:text="${puntoOrdenDia.titulo}"></strong>
            <div th:include="email-tpl-puntos-es::puntosOrdenDia"
                 th:with="puntos = ${puntoOrdenDia.puntosInferiores},i=(${i}+2)"
                 th:if="${puntoOrdenDia.puntosInferiores != null}"></div>
</div>
</html>