<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia"
     th:remove="tag">
    <ul style = "list-style-type: none;" class="detalle row columns">
        <li class="punto-dia" 
        th:each="puntoOrdenDia : ${puntos}"
            th:style="${'margin-left:' + i + 'em'}">
            <strong th:text="${puntoOrdenDia.numeracionMultinivel+'. '+puntoOrdenDia.titulo}"></strong>
            <div th:include="::puntosOrdenDia"
                 th:with="puntos = ${puntoOrdenDia.puntosInferiores},i=(${i}+2)"
                 th:if="${puntoOrdenDia.puntosInferiores != null}"></div>
        </li>
    </ul>
</div>
</html>