<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <h2 th:text="${reunion.asuntoAlternativo}">Asunto</h2>
</div>

<div th:if="${textoConvocatoriaAlternativo != null}" 
	 th:utext="${#strings.replace(textoConvocatoriaAlternativo,'\n','&lt;br&gt;')}">
    Texto convocatoria alternativo
</div>

<br/>

<div th:if="${mainLanguage == 'es'}">
	<div th:if="${textoInformar != null}"
	th:utext="${#strings.replace(textoInformar,'\n','&lt;br&gt;')}">
	    Texto informar</div>
</div>

<div th:if="${mainLanguage == 'ca'}">
	<div th:if="${textoInformarAlternativo != null}"
	th:utext="${#strings.replace(textoInformarAlternativo,'\n','&lt;br&gt;')}">
	    Texto informar alternativo</div>    
</div>

<div th:if="${textoAux != null}"
     th:text="${textoAux}">
    Text Aux
</div>

<br/><br/>

<div th:if="${reunion.numeroSesion != null}">
    <strong>Número de la sesión: </strong><span th:text="${reunion.numeroSesion}">Descripción</span>
</div>

<div th:if="${reunion.descripcionAlternativa != null}">
    <strong>Descripción: </strong><span th:utext="${#strings.replace(reunion.descripcionAlternativa,'\n','&lt;br&gt;')}">Descripción</span>
</div>


<div th:if="${reunion.fechaSegundaConvocatoria == null}">
    <strong>Fecha y hora: </strong> <span th:text="${diaSemanaFechaPrimeraConvocatoriaEs}">Día</span>
    <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}">Fecha y hora</span>
</div>

<div th:if="${reunion.fechaSegundaConvocatoria != null}">
    <strong>Primera convocatoria: </strong> <span th:text="${diaSemanaFechaPrimeraConvocatoriaEs}">Día</span>
    <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}"></span>
</div>
<div th:if="${reunion.fechaSegundaConvocatoria != null}">
    <strong>Segunda convocatoria: </strong> <span th:text="${diaSemanaFechaSegundaConvocatoriaEs}">Día</span> <span
        th:text="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd-MM-yyyy H:mm')}"></span>
</div>

<div th:if="${reunion.ubicacion != null}">
    <strong>Lugar: </strong> <span th:text="${reunion.ubicacion}">Ubicación</span>
</div>

<div th:if="${reunion.duracion != null and reunion.duracion > 0}">
    <strong>Duración: </strong> <span th:text="${reunion.duracion} + ' minutos'"></span>
</div>

<div th:if="${puntosOrdenDiaOrdenados != null} and ${not #lists.isEmpty(puntosOrdenDiaOrdenados)} and ${mostrarOrdenDia == true}">
    <h4>Orden del día</h4>
    <div th:include="email-tpl-puntos-es :: puntosOrdenDia"
         th:with="puntos=${puntosOrdenDiaOrdenados},i=0"
         th:if="${puntoUnico==null}"></div>
    <div th:include="email-tpl-puntounico-es :: puntosOrdenDia"
         th:with="puntoOrdenDia=${puntoUnico},i=2"
         th:if="${puntoUnico!=null}"></div>
</div>

<div th:if="${enviarUrlEnlace == true}">
    Para más información, podéis consultar el detalle de la reunión en
    <a th:attr="href=${publicUrl + '/goc/rest/publicacion/reuniones/' + reunion.id}">
        <span th:text="${publicUrl} + '/goc/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=es'">Url reunión</span>
    </a>
</div>

<div th:include="email-common-pie-es :: pie"></div>
</body>
</html>