<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:substituteby="head-ca"/>

<body>
<div>
    <h2 th:text="${reunion.asunto}">Assumpte</h2>
</div>

<div th:if="${textoConvocatoria != null}"
     th:utext="${#strings.replace(textoConvocatoria,'\n','&lt;br&gt;')}">
    Text convocatoria
</div>

<br/>

<div th:if="${mainLanguage == 'ca'}">
	<div th:if="${textoInformar != null}"
	th:utext="${#strings.replace(textoInformar,'\n','&lt;br&gt;')}">
	    Text informar</div>
</div>

<div th:if="${mainLanguage == 'es'}">
	<div th:if="${textoInformarAlternativo != null}"
	th:utext="${#strings.replace(textoInformarAlternativo,'\n','&lt;br&gt;')}">
	    Text informar alternatiu</div>
</div>
    
<div th:if="${textoAux != null}"
     th:text="${textoAux}">
    Text Aux
</div>

<br/><br/>

<div th:if="${reunion.numeroSesion != null}">
    <strong>Número de la sessió: </strong><span th:text="${reunion.numeroSesion}">Descripció</span>
</div>

<div th:if="${reunion.descripcion != null}">
    <strong>Descripció: </strong><span th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">Descripció</span>
</div>

<div th:if="${reunion.fechaSegundaConvocatoria == null}">
    <strong>Data i hora: </strong> <span th:text="${diaSemanaFechaPrimeraConvocatoria}">Dia</span>
    <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}">Data i hora</span>
</div>

<div th:if="${reunion.fechaSegundaConvocatoria != null}">
    <strong>Primera convocatòria: </strong> <span th:text="${diaSemanaFechaPrimeraConvocatoria}">Dia</span>
    <span th:text="${#dates.format(reunion.fecha, 'dd-MM-yyyy H:mm')}"></span>
</div>
<div th:if="${reunion.fechaSegundaConvocatoria != null}">
    <strong>Segona convocatòria: </strong> <span th:text="${diaSemanaFechaSegundaConvocatoria}">Dia</span> <span
        th:text="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd-MM-yyyy H:mm')}"></span>
</div>

<div th:if="${reunion.ubicacion != null}">
    <strong>Lloc: </strong> <span th:text="${reunion.ubicacion}">Ubicació</span>
</div>

<div th:if="${reunion.duracion != null and reunion.duracion > 0}">
    <strong>Duració: </strong> <span th:text="${reunion.duracion} + ' minuts'"></span>
</div>

<div th:if="${puntosOrdenDiaOrdenados != null} and ${not #lists.isEmpty(puntosOrdenDiaOrdenados)} and ${mostrarOrdenDia == true}">
    <h4>Ordre del dia</h4>
    <div th:include="email-tpl-puntos-ca :: puntosOrdenDia"
         th:with="puntos=${puntosOrdenDiaOrdenados},i=0"
         th:if="${puntoUnico==null}"></div>
    <div th:include="email-tpl-puntounico-ca :: puntosOrdenDia"
         th:with="puntoOrdenDia=${puntoUnico},i=2"
         th:if="${puntoUnico!=null}"></div>
</div>

<div th:if="${enviarUrlEnlace == true}">
    Per a més informació, podeu consultar el detall de la reunió a
    <a th:attr="href=${publicUrl + '/goc/rest/publicacion/reuniones/' + reunion.id}">
        <span th:text="${publicUrl} + '/goc/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=ca'">Url reunió</span>
    </a>
</div>

<div th:include="email-common-pie-ca :: pie"></div>
</body>
</html>