<header class="topHeader">
    <div class="row">
        <div class="medium-3 large-3 columns">
            <div>
                <img src="#"
                     th:src="${logoPublic}"/>
            </div>
        </div>
        <div class="medium-6 large-6 columns ">
            <div>
                <h1 class="title">Gestió d'òrgans col·legiats</h1>
            </div>
        </div>
        <div class="medium-3 large-3 columns">
            <div class="langMenu float-right">
                <ul class="menu"
                    th:if="${alternativeLanguage and alternativeLanguage != ''}">
                    <li>
                        <a th:if="${applang != mainLanguage}"
                           th:href="${'?lang=' + mainLanguage}"
                           th:text="${mainLanguageDescription}">Español</a>
                        <span class="disabled"
                              th:if="${applang == mainLanguage}"
                              th:text="${mainLanguageDescription}">Español</span>
                    </li>
                    <li>
                        <a th:if="${applang != alternativeLanguage}"
                           th:href="${'?lang=' + alternativeLanguage}"
                           th:text="${alternativeLanguageDescription}">Valencià</a>
                        <span class="disabled"
                              th:if="${applang == alternativeLanguage}"
                              th:text="${alternativeLanguageDescription}">Valencià</span>
                    </li>
                </ul>
            </div>
            <div th:if="${enlaceManualMiembros != null and enlaceManualMiembros != ''}">
        		<i class="fa fa-question-circle" aria-hidden="true"></i>
        		<a style="color:inherit;" th:href="${enlaceManualMiembros}" target="_blank">Ajuda</a>
        	</div>
        </div>        
    </div>
    <nav class="gray-menu-bar">
        <div class="row columns">
            <ul class="menu">
                <li>
                    <a th:if="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/acuerdos?lang=ca">Cercador d'acords</a>
                    <a th:unless="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/acuerdos">Cercador d'acords</a>
                </li>
                <li>
                    <a th:if="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/reuniones-abiertas?lang=ca">Les meves reunions</a>
                    <a th:unless="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/reuniones-abiertas">Les meves reunions</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="alert-feed"
     style="display: none;">
    <input type="hidden"
           name="url-ics"
           id="input-url-ics"/>
    <div>
        <p>El meu calendari</p>
        <p><small>Pots afegir el calendari de reunions al teu calendari de google o descarregar l'arxiu .ics per
            importar-lo al teu gestor de calendaris.</small></p>
    </div>
    <br/>
    <div style="text-align: center;">
        <a href="#"
           onclick="copiarIcs(this)"
           id="enlace-copia-url-ics"
           data-url-ics="">Afegir a google calendar</a> | <a href="#"
                                                             onclick="descargarIcs(this)"
                                                             id="enlace-descarga-ics"
                                                             data-url-ics="">Descarregar .ics</a>
    </div>
</div>

<div class="form-ausencia"
     id="form-ausencia"
     style="display: none;">
    <div>
        <span><strong>Justificació</strong></span>
    </div>
    <div>
        <textarea name="motivo-ausencia"
                  id="motivo-ausencia"
                  rows="10"
                  cols="50"
                  maxlength="500"
                  placeholder="Motiu de l'absència..."></textarea>
        <p id="total">Caràcters totals: 0/500</p>
        <button class="button"
                name="confirmar-ausencia">Enviar
        </button>
    </div>
</div>