<head>
  <meta th:charset="${charset}" />
  <title>Gestió d'organs col·legiats</title>
  <link rel="stylesheet" type="text/css" href="/goc/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/goc/css/jquery.modal.css" />
  <link rel="stylesheet" type="text/css" href="/goc/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/goc/css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation-float.min.css" />
  <link th:if="${customCSS != ''}" rel="stylesheet" type="text/css" th:href="${customCSS}" />

  <script src="/goc/js/jquery.min.js"></script>
  <script src="/goc/js/jquery.modal.js"></script>
  <script src="/goc/js/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/plugins/foundation.core.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/plugins/foundation.util.keyboard.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/plugins/foundation.accordion.min.js"></script>
  <script type="text/javascript" th:src="${'/goc/app/i18n/' + applang + '.js'}"></script>
  <script th:src="${'/goc/js/datepicker-' + applang + '.js'}" src="/goc/js/datepicker-es.js"></script>
  <script th:inline="javascript">
  /*<![CDATA[*/
      var applang = [[${applang}]];
  /*]]>*/
  </script>

  <script>
      function verEnlaceCalendario() {
          var url = "/goc/rest/calendario";
          $.ajax({
              type: "PUT",
              url: url,
              processData: false,
              cache: false,
              timeout: 600000,
              success: function (data) {
                  $('#enlace-descarga-ics').data("url-ics", data);
                  $('#enlace-copia-url-ics').data("url-ics", data);
                  $('#input-url-ics').val(data);
                  $('.alert-feed').modal({
                      clickClose: false
                  });
                  $('.close-modal').on('click', function () {
                      $('#enlace-copiado').hide();
                  });
              },
              error: function (e) {
                  alert(e.responseText);

              }
          });
      }

      function descargarIcs(element) {
          var url = $(element).data("url-ics");
          window.open(url + '?applang=' + applang);
      }

      function copiarIcs(element) {
          var input = document.getElementById("input-url-ics");
          window.open('https://www.google.com/calendar/render?cid=' + input.value);
      }
      
      $(document).ready(function() {
          $(document).foundation();
      });

  </script>
  <style type="text/css">
    .accordion-title {
      font-size: 1rem;
      color: #363636;
    }
    .accordion-item > a:focus, a:hover {
      color: #363636 !important;
    }
    /*:last-child:not(.is-active) > .accordion-title {
      border: 0px;
    }*/
  </style>
</head>