<header class="topHeader">
    <div class="row">
        <div class="medium-3 large-3 columns">
            <div>
                <img src="#"
                     th:src="${logoPublic}"/>
            </div>
        </div>
        <div class="medium-6 large-6 columns ">
            <div>
                <h1 class="title">Gestión de órganos colegiados</h1>
            </div>
        </div>
        <div class="medium-3 large-3 columns">
            <div class="langMenu float-right">
                <ul class="menu"
                    th:if="${alternativeLanguage and alternativeLanguage != ''}">
                    <li>
                        <a th:if="${applang != mainLanguage}"
                           th:href="${'?lang=' + mainLanguage}"
                           th:text="${mainLanguageDescription}">Español</a>
                        <span class="disabled"
                              th:if="${applang == mainLanguage}"
                              th:text="${mainLanguageDescription}">Español</span>
                    </li>
                    <li>
                        <a th:if="${applang != alternativeLanguage}"
                           th:href="${'?lang=' + alternativeLanguage}"
                           th:text="${alternativeLanguageDescription}">Valencià</a>
                        <span class="disabled"
                              th:if="${applang == alternativeLanguage}"
                              th:text="${alternativeLanguageDescription}">Valencià</span>
                    </li>
                </ul>
            </div>
            <div th:if="${enlaceManualMiembros != null and enlaceManualMiembros != ''}">
        		<i class="fa fa-question-circle" aria-hidden="true"></i>
        		<a style="color:inherit;" th:href="${enlaceManualMiembros}" target="_blank">Ayuda</a>
        	</div>
        </div>
    </div>
    <nav class="gray-menu-bar">
        <div class="row columns">
            <ul class="menu">
                <li>
                    <a th:if="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/acuerdos?lang=es">Buscador de acuerdos</a>
                    <a th:unless="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/acuerdos">Buscador de acuerdos</a>
                </li>
                <li>
                    <a th:if="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/reuniones-abiertas?lang=es">Mis reuniones</a>
                    <a th:unless="${alternativeLanguage and alternativeLanguage != ''}"
                       href="/goc/rest/publicacion/reuniones-abiertas">Mis reuniones</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="alert-feed"
     style="display: none;">
    <input type="hidden"
           name="url-ics"
           id="input-url-ics"/>
    <div>
        <p>Mi calendario</p>
        <p><small>Puedes añadir el calendario de reuniones a tu calendario de google o descargar el archivo .ICS para
            importarlo en tu gestor de calendarios.</small></p>
    </div>
    <br/>
    <div style="text-align: center;">
        <a href="#"
           onclick="copiarIcs(this)"
           id="enlace-copia-url-ics"
           data-url-ics="">Añadir a google calendar</a> | <a href="#"
                                                             onclick="descargarIcs(this)"
                                                             id="enlace-descarga-ics"
                                                             data-url-ics="">Descargar .ics</a>
    </div>
</div>

<div class="form-ausencia"
     id="form-ausencia"
     style="display: none;">
    <div>
        <span><strong>Justificación</strong></span>
    </div>
    <div>
        <textarea name="motivo-ausencia"
                  id="motivo-ausencia"
                  rows="10"
                  cols="50"
                  maxlength="500"
                  placeholder="Motivo de la ausencia..."></textarea>
        <p id="total">Caracteres totales: 0/500</p>
        <button class="button"
                name="confirmar-ausencia">Enviar
        </button>
    </div>
</div>