<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:substituteby="head-es"/>
<body>
<div class="off-canvas-content"
     data-off-canvas-content="data-off-canvas-content">
    <div th:substituteby="header-es"/>
</div>
<main class="columns reunion">
    <div class="row columns">
        <h1 class="title"
            th:text="'Reunión: ' + ${reunion.asunto}">title</h1>
    </div>

    <div class="detalle row columns"
         th:if="${reunion.reabierta}">
        <div class="tag"><strong>Esta reunión ha sido reabierta </strong></div>
        <i class="fa fa-file-o"></i>
        <a th:href="${reunion.urlActaAntesReapertura}">Acta anterior</a>
    </div>

    <br style="margin-top: 2em;"/>

    <div class="row columns">
        <h3 class="title">Información básica</h3>
    </div>
    <ul class="contentList detalle row columns">
        <li class="item-publico"
            th:if="${reunion.publica}"><i class="fa fa-eye"></i> <span>PÚBLICA</span></li>
        <li th:unless="${reunion.fechaSegundaConvocatoria}">
            <div class="tag"><strong>Fecha y hora:</strong></div>
            <div class="value"
                 th:utext="${diaSemanaTexto} ">valor
            </div>
            <div class="value"
                 th:utext="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}">valor
            </div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
            <div class="tag"><strong>Primera convocatoria:</strong></div>
            <div class="value"
                 th:utext="${diaSemanaTexto} ">valor
            </div>
            <div class="value"
                 th:utext="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}">valor
            </div>
        </li>
        <li th:if="${reunion.fechaSegundaConvocatoria}">
            <div class="tag"><strong>Segona convocatoria:</strong></div>
            <div class="value"
                 th:utext="${#dates.format(reunion.fechaSegundaConvocatoria, 'dd/MM/YYYY HH:mm')}">valor
            </div>
        </li>
        <li th:if="${reunion.responsableActa}">
            <div class="tag"><strong>Responsable de acta:</strong></div>
            <div class="value"
                 th:utext="${reunion.responsableActa}">valor
            </div>
        </li>
        <li th:if="${reunion.numeroSesion} != null">
            <div class="tag"><strong>Número de sesión:</strong></div>
            <div class="value"
                 th:utext="${reunion.numeroSesion}">valor
            </div>
        </li>
        <li th:if="${reunion.ubicacion}">
            <div class="tag"><strong>Lugar:</strong></div>
            <div class="value"
                 th:utext="${reunion.ubicacion}">valor
            </div>
        </li>
        <li th:if="${reunion.duracion and reunion.duracion > 0}">
            <div class="tag"><strong>Duración:</strong></div>
            <div class="value"
                 th:utext="${reunion.duracion} + ' minutos'">valor
            </div>
        </li>
        <li th:if="${reunion.descripcion}">
            <div class="tag"><strong>Descripción:</strong></div>
            <div class="value"
                 th:utext="${#strings.replace(reunion.descripcion,'\n','&lt;br&gt;')}">valor
            </div>
        </li>
        <li th:if="${reunion.acuerdos != null}">
            <div class="tag"><strong>Acuerdos generales:</strong></div>
            <div class="value"
                 th:utext="${#strings.replace(reunion.acuerdos,'\n','&lt;br&gt;')}">valor
            </div>
        </li>
        <li th:if="${reunion.urlActaAntesReapertura != null}">
            <div class="tag"><strong>Acta antes de reapertura:</strong></div>
            <a th:href="${reunion.urlActaAntesReapertura}">Acta</a>
        </li>
        <li th:if="${reunion.urlGrabacion != null}">
            <div class="tag"><strong>URL grabación:</strong></div>
            <div class="value"><a th:href="${reunion.urlGrabacion}"
                                  th:text="${reunion.urlGrabacion}"></a></div>
        </li>
        <li th:if="${reunion.telematica}">
            <div class="tag"><strong>Reunión telemática Instrucciones:</strong></div>
            <div class="value"
                 th:utext="${reunion.telematicaDescripcion}">valor
            </div>
        </li>
        <li style="padding-left:1rem;padding-top: 0.5rem;">
            <div th:if="${reunion.completada}">
                <div th:if="${reunion.urlActa}">
                    <i class="fa fa-file-o"></i>
                    <a th:href="${reunion.urlActa}">Acta de la reunión</a>
                </div>
            </div>
            <div th:if="(${reunion.urlActa == null} and ${actaProvisionalActiva == true}) or ( ${reunion.reabierta} and ${actaProvisionalActiva == true} and not ${reunion.completada})">
                <i class="fa fa-file-o"></i>
                <a th:href="'/goc/rest/actas/' + ${reunion.id} + '?lang=' + ${applang}">Borrador del acta</a>
            </div>
        </li>
    </ul>
    <div class="row columns"
         th:if="${not #lists.isEmpty(reunion.organos)}">
        <h3 class="title">Órganos y asistentes</h3>
    </div>
    <ul class="contentList detalle row columns"
        th:if="${not #lists.isEmpty(reunion.organos)}">
        <li th:each="organo : ${reunion.organos}">
            <h4 class="title"
                th:text="${organo.nombre}">Órgano asistente</h4>
            <ul th:with="miembros=${organo.asistentes}">
                <li th:each="miembro : ${miembros}">
                    <div>
                        <i class="fa fa-angle-right"
                           style="font-weight: bold; margin-right: 0.2rem;"></i>
                        <span th:text="${miembro.nombre} + ' (' + ${miembro.email} + ')' + ' - ' + ${miembro.cargo.nombre}">Miembro</span>

                        <div th:if="${miembro.suplente == null and miembro.delegadoVoto == null and organo.verAsistentes==true}"
                             th:remove="tag">
                            <span class="asistencia asistira"
                                  th:if="${miembro.haConfirmado}">Asistirá</span>
                            <span class="asistencia no-asistira"
                                  th:if="${miembro.justificaAusencia}">No asistirá</span>
                            <span class="asistencia pendiente"
                                  th:if="${(miembro.haConfirmado == null or miembro.haConfirmado == false) and (miembro.justificaAusencia == null or miembro.justificaAusencia == false)}">Pendiente de confirmar</span>
                        </div>

                        <div class="detalle">
                            <strong th:if="${miembro.suplente}"
                                    th:text="'Suplente: ' + ${miembro.suplente}">Suplente</strong>
                        </div>
                        <div class="detalle">
                            <strong th:if="${miembro.delegadoVoto != null and organo.verDelegaciones == true}"
                                    th:text="'Delegación de voto: ' + ${miembro.delegadoVoto} ">Suplente</strong>
                        </div>
                    </div>
                    <div class="detalle confirmacion"
                         th:if="${reunion.completada != true and (connectedUserId == miembro.miembroId)}">
                        <button class="button success tiny"
                                disabled="disabled"
                                name="confirmar"
                                th:attr="data-miembroid=${miembro.id}"
                                th:if="${miembro.haConfirmado == true or miembro.delegadoVotoId != null}">Asistirá
                        </button>
                        <button class="button success tiny"
                                name="confirmar"
                                th:attr="data-miembroid=${miembro.id}"
                                th:unless="${miembro.haConfirmado == true  or miembro.delegadoVotoId != null}">Asistirá
                        </button>

                        <button class="button alert tiny"
                                disabled="disabled"
                                name="denegar"
                                th:attr="data-miembroid=${miembro.id}"
                                th:if="${miembro.asistenciaConfirmada == false}">Excusa asistencia
                        </button>
                        <button class="button alert tiny"
                                name="denegar"
                                th:attr="data-miembroid=${miembro.id}"
                                th:unless="${miembro.asistenciaConfirmada == false}">Excusa asistencia
                        </button>

                        <button class="button tiny"
                                disabled="disabled"
                                name="suplente"
                                style="margin-left: 3em;"
                                th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}, data-cy='gestionar_suplente-'+${miembro.id}"
                                th:if="${reunion.admiteSuplencia and miembro.delegadoVotoId != null}">Gestionar suplente
                        </button>
                        <button class="button tiny"
                                name="suplente"
                                style="margin-left: 3em;"
                                th:attr="data-miembroid=${miembro.id}, data-suplente=${miembro.suplente}, data-cy='gestionar_suplente-'+${miembro.id}"
                                th:if="${reunion.admiteSuplencia and miembro.delegadoVotoId == null}">Gestionar suplente
                        </button>
                        <button class="button tiny secondary"
                                name="borra-suplente-directo"
                                th:attr="data-miembroid=${miembro.id}, data-cy='borrar_suplente-'+${miembro.id}"
                                th:if="${reunion.admiteSuplencia and miembro.suplenteId != null and (iniciadaReunion==false or votacionTelematica==false)}">Borrar suplente
                        </button>

                        <button class="button tiny"
                                disabled="disabled"
                                name="delegado-voto"
                                style="margin-left: 3em;"
                                th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}, data-cy='delegar_voto-' + ${miembro.id}"
                                th:if="${reunion.admiteDelegacionVoto and miembro.suplenteId != null}">Gestionar delegación de voto
                        </button>
                        <button class="button tiny"
                                name="delegado-voto"
                                style="margin-left: 3em;"
                                th:attr="data-miembroid=${miembro.id}, data-delegado-voto=${miembro.delegadoVoto}, data-cy='delegar_voto-' + ${miembro.id}"
                                th:if="${reunion.admiteDelegacionVoto and miembro.suplenteId == null}">Gestionar delegación de voto
                        </button>
                        <button class="button tiny secondary"
                                name="borra-delegado-voto-directo"
                                th:attr="data-miembroid=${miembro.id}, data-cy='borrar_delegar_voto-' + ${miembro.id}"
                                th:if="${reunion.admiteDelegacionVoto and miembro.delegadoVotoId != null and (iniciadaReunion==false or votacionTelematica==false)}">Borrar delegación de voto
                        </button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="row columns"
         th:if="${not #lists.isEmpty(reunion.invitados)}">
        <h3 class="title">Invitados</h3>
    </div>
    <ul class="contentList detalle row columns"
        th:if="${not #lists.isEmpty(reunion.invitados)}">
        <li th:each="invitado : ${reunion.invitados}">
            <span th:text="${invitado.nombre} + ' (' + ${invitado.email} + ')'">Invitado</span><span
                th:if="${reunion.organos[0] != null ? reunion.organos[0].verAsistentes : false}"> - </span>
            <div th:if="${reunion.organos[0] != null ? reunion.organos[0].verAsistentes : false}" th:remove="tag">
                <span class="asistencia asistira" th:if="${invitado.asistencia}">Asistirá</span>
                <span class="asistencia no-asistira" th:if="${not invitado.asistencia}">No asistirá</span>
            </div>
        </li>
    </ul>
    <div class="row columns"
         th:if="${hayAlgunDocumento}">
        <hr/>
    </div>
    <div class="row columns"
         th:if="${hayAlgunDocumento}">
        <h3 class="title">Documentos de la reunión</h3>
    </div>
    <ul class="contentList detalle row columns"
        th:if="${hayAlgunDocumento}">
        <li th:each="documento : ${reunion.documentos}">
            <i class="fa fa-file-o"></i>
            <a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/documentos/' + ${documento.id} + '/descargar'"
               th:text="${documento.descripcion}">Adjunto</a>
            <small th:text="' [' + ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
			<button class="fa fa-times" style="cursor: pointer; color: red;"
					th:data-documentoid="${documento.id}"
					th:data-reunionid="${reunion.id}"
					th:data-reunionabierta="${reunion.isAbierta}"
					th:if="${connectedUserId == documento.creadorId}"
					th:name="'delete-doc-reunion'">
			</button>
		</li>
		<button class="button tiny"
                name="descargar-documentacion"
                th:attr="onclick='window.location.href=\'/goc/rest/reuniones/' + ${reunion.id} + '/documentos/descargar\''">Descargar toda la documentación de la reunión
        </button>
    </ul>

    <div th:if="${reunion.votacionTelematica}">
        <div class="row columns">
            <h3 class="title">Votación</h3>
        </div>

        <div
                class="row columns"
                style="display: flex; flex-flow: row nowrap; justify-content: flex-start"
        >
            <a
                    class="button"
                    style="text-decoration: none"
                    target="_blank"
                    th:data-cy="'boton-acceder-resultado-votacion-' + ${reunion.id}"
                    th:href="'/goc/rest/votos/resultado/votacion/' + ${reunion.id} + '?lang=' + ${applang}"
                    th:if="${reunion.completada || reunion.mostrarResultados}"
            >
                Resultado de la votación
            </a>

            <a
                    class="button success"
                    style="margin-left: 10px; text-decoration: none; font-weight: 500"
                    target="_blank"
                    th:data-cy="'boton-acceder-votacion-' + ${reunion.id}"
                    th:href="'/goc/rest/publicacion/reuniones/puntos/' + ${reunion.id} + '?lang=' + ${applang}"
                    th:if="${reunion.isAbierta}"
            >
                Acceder a la votación
            </a>
        </div>
    </div>

    <div class="row columns"
         th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}">
        <h3 class="title">Puntos del orden del día</h3>
    </div>

    <div th:if="${puntoUnico == null}"
         th:include="tpl-reunion-puntoordendia-es :: puntosOrdenDia"
         th:with="puntos=${reunion.puntosOrdenDia},i=0,connectedUserId=${connectedUserId}"></div>
    <div class="detalle row columns"
         th:if="${puntoUnico != null}"
         th:include="tpl-reunion-puntounico-es :: puntosOrdenDia" th:with="puntoOrdenDia=${puntoUnico},connectedUserId=${connectedUserId}"></div>
    <div class="row columns"
         th:if="${mostrarConvocante}">
        <h3 class="title">Dirección de contacto</h3>
        <span class="detalle"
              th:text="${reunion.creadorNombre} + ' (' + ${reunion.creadorEmail} + ')'">Info convocante</span>
    </div>

    <div class="nuevo-suplente"
         style="display: none;">
        <input name="organoMiembroId"
               type="hidden"/>
        <p class="suplente-actual">Suplente actual: <strong></strong>
            <button class="button small"
                    name="borra-suplente">Borrar suplente
            </button>
        </p>
        <p>Añadir un suplente:</p>
        <div class="header">
            <input name="query-persona"
                   type="text"/>
            <button class="button"
                    name="busca-persona">Buscar
            </button>
        </div>
        <ul class="resultados">
        </ul>
        <div class="footer">
            <button class="button"
                    name="add-suplente">Añadir suplente
            </button>
        </div>
    </div>

    <div class="nuevo-delegado-voto"
         style="display: none;">
        <input name="organoMiembroId"
               type="hidden"/>
        <p class="delegado-voto-actual">Delegación de voto actual: <strong></strong>
            <button class="button small"
                    name="borra-delegado-voto">Borrar delegación de voto
            </button>
        </p>
        <p>Añadir una delegación de voto:</p>
        <ul class="resultados">
        </ul>
        <div class="footer">
            <button class="button"
                    name="add-delegado-voto">Añadir delegación de voto
            </button>
        </div>
    </div>

    <div class="nuevo-comentario"
         style="display: none;">
        <p>Añadir un comentario:</p>
        <input name="reunionId"
               th:value="${reunion.id}"
               type="hidden"/>
        <textarea style="width: 100%; height: 240px;"></textarea>
        <button class="button post-comentario">Añadir</button>
    </div>

    <div class="nuevo-comentario-punto"
         style="display: none;">
        <p>Añadir un comentario a un punto del orden del día:</p>
        <input name="reunionId"
               th:value="${reunion.id}"
               type="hidden"/>
        <input name="puntoId"
               type="hidden"/>
        <input name="comentarioId"
               type="hidden"/>
        <textarea style="width: 100%; height: 240px;"></textarea>
        <button class="button post-comentario-punto"
                onclick="enviarComentarioPunto(this)">Añadir
        </button>
    </div>
    <br style="margin-top: 2em;"/>

    <div class="row columns">
        <button class=" button add-comentario"
                th:if="${ not reunion.completada and reunion.admiteComentarios and permitirComentarios}">Añadir un comentario
        </button>
    </div>

    <div class="row columns">
        <div class="comentarios"
             th:if="${permitirComentarios}"></div>
    </div>
    
    <div class="form-borrado"
     id="form-borrado"
     style="display: none;">
	    <div>
	        <span><strong>Justificació</strong></span>
	    </div>
	    <div>
	        <textarea name="motivo-borrado"
	                  id="motivo-borrado"
	                  rows="10"
	                  cols="50"
	                  maxlength="250"
	                  placeholder="Motiu de la eliminació..."></textarea>
	        <button class="button"
	                name="confirmar-borrado-doc">Borrar
	        </button>
	    </div>
    </div>

</main>
<script src="/goc/js/script.js"></script>
</body>
</html>
