<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:substituteby="head-ca"/>
    <body>
        <div class="off-canvas-content"
             data-off-canvas-content="data-off-canvas-content">
            <div th:substituteby="header-ca"/>
        </div>
        <main class="columns">
            <div class="row columns">
                <button class="button tiny"
                        onclick="verEnlaceCalendario()"
                        style="margin-left: 3em; ; float: right">Exporta el meu calendari
                </button>
            </div>

            <div class="row columns">
                <ul class="menu">
                    <li>
                        <a class="tab-reuniones" href="/goc/rest/publicacion/reuniones-abiertas?lang=ca">Reunions
                            obertes</a>
                    </li>
                    <li>
                        <a class="tab-reuniones" href="/goc/rest/publicacion/reuniones-historico?lang=ca">Històric de
                            reunions</a>
                    </li>
                </ul>
            </div>

            <div class="row columns">
                <h1 class="title">Reunions obertes</h1>
            </div>

            <ul class="lista-reuniones contentList row columns">
                <li class="item" th:each="reunion : ${reuniones}">
                    <div class="reunion-titulo"
                         style="display: block"
                         th:text="${reunion.asunto}"></div>
                    <div style="display: inline"
                         th:text="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}"></div>
                    <div style="display: inline">
                        <span class="separador"> | </span>
                        <span th:text="${reunion.organoNombre}"/>
                        <div>
                            <span class="documentacion"><a
                                    th:href="'/goc/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=' + ${applang}">Documentació</a></span>
                            <span class="separador">|</span>
                            <span th:if="${reunion.urlActa}"><a th:href="${reunion.urlActa}">Acta</a><span
                                    class="separador"> | </span></span>
                            <span th:if="${reunion.urlActa == null} and (${reunion.enlaceActaProvisionalActivo == null} or ${reunion.enlaceActaProvisionalActivo == true})"><a
                                    th:href="'/goc/rest/actas/' + ${reunion.id} + '?lang=' + ${applang}">Esborrany de l'acta</a><span
                                    class="separador"> | </span></span>
                            <span>
	              				<a th:href="'/goc/rest/publicacion/reuniones/' + ${reunion.id} + '/acuerdos' + '?lang=' + ${applang}">Certificats d'acords dels punts de l'ordre del dia</a>
	            			</span>
                            <span class="separador"
                                  th:if="${reunion.asistente}"> | </span>
                            <span>
	              				<a th:href="${reunion.urlAsistencia}"
                                   th:if="${reunion.urlAsistencia != null}">Certificat d'assistència</a>
	              				<span class="has-tip link-desactivado"
                                      data-tooltip="data-tooltip"
                                      th:if="${reunion.urlAsistencia == null and reunion.asistente }"
                                      title="Certificat no disponible fins que finalitze la reunió">Certificat d'assistència</span>
	            			</span>
                        </div>
                    </div>
                </li>
            </ul>

            <form method="get" name="form-busqueda">
                <ul aria-label="Pagination"
                    class="pagination text-center"
                    role="navigation">
                    <li th:class="${'pagination-previous ' + (hasPrevPage ? '' : 'disabled')}">
                        <a aria-label="Previous page"
                           class="prevPage"
                           href="#"
                           th:if="${hasPrevPage}">Anterior</a>
                        <span th:unless="${hasPrevPage}">Anterior</span>
                    </li>
                    <li th:class="${'pagination-next ' + (hasNextPage ? '' : 'disabled')}">
                        <a aria-label="Next page"
                           class="nextPage"
                           href="#"
                           th:if="${hasNextPage}">Següent</a>
                        <span th:unless="${hasNextPage}">Següent</span>
                    </li>
                </ul>

                <input name="lang" th:value="${lang}" type="hidden"/>
                <input name="pagina" th:value="${pagina}" type="hidden"/>
            </form>

            <div id="cmpcomponent-loading"></div>
        </main>

        <link href="/goc/css/loading.css" rel="stylesheet"/>
        <script src="/goc/js/paginator.js"></script>
        <script src="/goc/js/loading.js"></script>
    </body>
</html>
