<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:substituteby="head-es"/>
    <body>
        <div class="off-canvas-content"
             data-off-canvas-content="data-off-canvas-content">
            <div th:substituteby="header-es"/>
        </div>
        <main class="columns">
            <div class="row columns">
                <button class="button tiny"
                        onclick="verEnlaceCalendario()"
                        style="margin-left: 3em; ; float: right">Exportar mi calendario
                </button>
            </div>

            <div class="row columns">
                <ul class="menu">
                    <li>
                        <a class="tab-reuniones" href="/goc/rest/publicacion/reuniones-abiertas?lang=es">Reuniones
                            abiertas</a>
                    </li>
                    <li>
                        <a class="tab-reuniones" href="/goc/rest/publicacion/reuniones-historico?lang=es">Histórico de
                            reuniones</a>
                    </li>
                </ul>
            </div>

            <div class="row columns">
                <h1 class="title">Histórico de reuniones</h1>
            </div>
            <div class="lista-reuniones contentList row columns">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item th:each="organo : ${organos}">
                        <a class="accordion-title" href="#"
                           th:attr="data-organo-id=${organo.id},data-organo-externo=${organo.externo},data-lang=${lang}"
                           th:text="${organo.nombreAlt}"></a>
                        <div class="accordion-content" data-tab-content>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="cmpcomponent-loading"></div>
        </main>

        <script src="/goc/js/script.js"></script>
        <link href="/goc/css/loading.css" rel="stylesheet"/>
        <script src="/goc/js/loading.js"></script>
    </body>
</html>
