<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="comentario">
        <div th:each="comentario : ${comentarios}">
            <div class="comentario"
                 th:attr="id='comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}"
                 th:if="${i == 0}">
                <div th:if="${comentario.permitirBorrado}">
                    <a class="delete-comentario-punto"
                       href="#"
                       th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}"><i
                            class="fa fa-times"></i></a>
                </div>
                <div class="comentario-cabecera">
                    <p class="autor"><strong>Autor</strong>: <span th:text="${comentario.creadorNombre}">Autor</span>
                    </p>
                </div>
                <div class="comentario-cuerpo"
                     th:text="${comentario.comentario}">
                    comentario
                </div>
                <div>
                    <p class="fecha"><strong>Fecha</strong>:
                        <span th:text="' [' +  ${#dates.format(comentario.fecha, 'dd/MM/YYYY HH:mm')} + ']'"></span></p>
                </div>
                <div>
                    <div th:if="${not #lists.isEmpty(comentario.respuestas)}">
                        <a class="enlace-ver-respuestas"
                           onclick="verRespuestas(this)"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Ver
                            respuestas
                        </a>
                        <a class="enlace-ocultar-respuestas"
                           onclick="cerrarRespuestas(this)"
                           style="display: none"
                           th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}">Ocultar
                            respuestas</a>
                        <span class="separador-enlaces-comentarios">|</span>
                        <a class="enlace-responder-comentario"
                           href="#"
                           onclick="abrirModalComentarioPunto(this, event)"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Responder</a>
                    </div>
                    <div th:unless="${not #lists.isEmpty(comentario.respuestas)}">
                        <a class="enlace-ver-respuestas"
                           onclick="verRespuestas(this)"
                           style="display: none;"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Ver
                            respuestas</a>
                        <a class="enlace-ocultar-respuestas"
                           onclick="cerrarRespuestas(this)"
                           style="display: none"
                           th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}">Ocultar
                            respuestas</a>
                        <span class="separador-enlaces-comentarios"
                              style="display: none">|</span>
                        <a class="enlace-responder-comentario"
                           href="#"
                           onclick="abrirModalComentarioPunto(this, event)"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Responder</a>
                    </div>
                </div>
            </div>

            <div class="comentario"
                 th:attr="id='comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-comentario-padre-id=${comentario.comentarioSuperiorId}"
                 th:style="${'margin-left:' + i + 'px'}+ '; display:none;'"
                 th:unless="${i == 0}">
                <div th:if="${comentario.permitirBorrado}">
                    <a class="delete-comentario-punto"
                       href="#"
                       th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}"><i
                            class="fa fa-times"></i></a>
                </div>
                <div class="comentario-cabecera">
                    <p class="autor"><strong>Autor</strong>: <span th:text="${comentario.creadorNombre}">Autor</span>
                    </p>
                </div>
                <div class="comentario-cuerpo"
                     th:text="${comentario.comentario}">
                    comentario
                </div>
                <div>
                    <p class="fecha"><strong>Fecha</strong>:
                        <span th:text="' [' +  ${#dates.format(comentario.fecha, 'dd/MM/YYYY HH:mm')} + ']'"></span></p>
                </div>
                <div>
                    <div th:if="${not #lists.isEmpty(comentario.respuestas)}">
                        <a class="enlace-ver-respuestas"
                           onclick="verRespuestas(this)"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Ver
                            respuestas</a>
                        <a class="enlace-ocultar-respuestas"
                           onclick="cerrarRespuestas(this)"
                           style="display: none"
                           th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}">Ocultar
                            respuestas</a>
                        <span class="separador-enlaces-comentarios">|</span>
                        <a class="enlace-responder-comentario"
                           href="#"
                           onclick="abrirModalComentarioPunto(this, event)"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Responder</a>
                    </div>
                    <div th:unless="${not #lists.isEmpty(comentario.respuestas)}">
                        <a class="enlace-ver-respuestas"
                           onclick="verRespuestas(this)"
                           style="display: none;"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}, href='#comentario-' + ${comentario.id}">Ver
                            respuestas</a>
                        <a class="enlace-ocultar-respuestas"
                           onclick="cerrarRespuestas(this)"
                           style="display: none"
                           th:attr="href='#comentario-' + ${comentario.id}, data-comentario-id=${comentario.id}, data-punto-id=${puntoOrdenDia.id}">Ocultar
                            respuestas</a>
                        <span class="separador-enlaces-comentarios"
                              style="display: none">|</span>
                        <a class="enlace-responder-comentario"
                           href="#"
                           onclick="abrirModalComentarioPunto(this, event)"
                           th:attr="data-punto-id=${puntoOrdenDia.id}, data-comentario-id=${comentario.id}">Responder</a>
                    </div>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(comentario.respuestas)}"
                 th:include=" ::comentario"
                 th:with="comentarios = ${comentario.respuestas},i=(${i}+25)"></div>
        </div>

    </div>
</html>