<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="puntosOrdenDia">
        <ol class="detalle row columns">
            <li class="punto-dia"
                th:each="puntoOrdenDia : ${puntos}"
                th:style="${'margin-left:' + i + 'em'}">
                <strong th:text="${puntoOrdenDia.titulo}"></strong>&nbsp;&nbsp;<a
                    class="link"
                    target="_blank"
                    th:attr="href=${puntoOrdenDia.urlActaAnterior}"
                    th:if="${puntoOrdenDia.urlActaAnterior}"><i class="fa fa-external-link"></i></a>
                <small th:if="${not #lists.isEmpty(puntoOrdenDia.comentarios) and reunion.admiteComentarios}"><a
                        class="enlace-ver-comentarios"
                        onclick="verComentarios(this)"
                        th:attr="data-punto-id=${puntoOrdenDia.id},href='#comentarios-' + ${puntoOrdenDia.id}">Veure
                    comentaris</a></small>
                <small th:unless="${not #lists.isEmpty(puntoOrdenDia.comentarios) and reunion.admiteComentarios}"><a
                        class="enlace-ver-comentarios"
                        onclick="verComentarios(this)"
                        style="display: none;"
                        th:attr="data-punto-id=${puntoOrdenDia.id},href='#comentarios-' + ${puntoOrdenDia.id}">Veure
                    comentaris</a></small>
                <small><a class="enlace-ocultar-comentarios"
                          onclick="cerrarComentarios(this)"
                          style="display: none;"
                          th:attr="data-punto-id=${puntoOrdenDia.id}">Amagar comentaris</a></small>
                <div th:if="${puntoOrdenDia.descripcion} != null"
                     th:utext="${#strings.replace(puntoOrdenDia.descripcion,'\n','&lt;br&gt;')}"></div>
                <div th:if="${puntoOrdenDia.deliberaciones != null and ((reunion.verDeliberaciones==true or verDeliberaciones==true) or reunion.completada==true)}"
                     th:utext="${#strings.replace(puntoOrdenDia.deliberaciones,'\n','&lt;br&gt;')}"></div>
                <div th:if="${puntoOrdenDia.acuerdos != null and ((reunion.verAcuerdos==true or verAcuerdos==true) or reunion.completada==true) } "
                     th:utext="${#strings.replace(puntoOrdenDia.acuerdos,'\n','&lt;br&gt;')}"></div>
                <div class="item-publico"
                     th:if="${puntoOrdenDia.publico}"><i class="fa fa-eye"></i> <span>PÚBLIC</span>
                </div>
                <ul class="contentList"
                    style="margin-top:0.6rem;"
                    th:with="documentos=${puntoOrdenDia.documentos}">
                    <li th:each="documento : ${documentos}">
                        <i class="fa fa-file-o"></i>
                        <a th:href="'/goc/rest/reuniones/' + ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/documentos/' + ${documento.id} + '/descargar'"
                           th:text="${documento.descripcion}">Descripcion documento</a>
                        <small th:text="' [' +  ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
                        <small class="item-publico"
                               th:if="${puntoOrdenDia.publico and documento.publico}"><i
                                class="fa fa-eye"></i> <span>PÚBLIC</span></small>
		                <button class="fa fa-times"
		                        style="cursor: pointer; color: red;"
		                        th:data-documentoid="${documento.id}"
		                        th:data-reunionid="${reunion.id}"
		                        th:data-reunionabierta="${reunion.isAbierta}"
		                        th:data-puntoordendiaid="${puntoOrdenDia.id}"
		                        th:if="${connectedUserId == documento.creadorId}"
		                        th:name="'delete-doc-ordendia'">
		                </button>
                    </li>
                </ul>
                <div th:if="${reunion.completada != true}">
                    <input class="button tiny"
                           onclick="mostrarFomularioSubirDocumento(this);"
                           th:attr="data-target='panel-form-' + ${puntoOrdenDia.id}"
                           th:if="${permitirSubirDocumentos}"
                           type="button"
                           value="Afegir document"/>
                    <input class="button tiny"
                           onclick="abrirModalComentarioPunto(this, event);"
                           th:attr="data-reunion-id=${reunion.id}, data-punto-id=${puntoOrdenDia.id}"
                           th:if="${reunion.admiteComentarios}"
                           type="button"
                           value="Afegir comentari"/>
                </div>
                <div style="display: none; width: 50%"
                     th:attr="id='panel-form-' + ${puntoOrdenDia.id}">
                    <form class="form-subida-documento-punto-orden-dia"
                          th:attr="id='form-' + ${puntoOrdenDia.id}, action='/goc/rest/reuniones/'+ ${reunion.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/documentos'"
                          th:if="${permitirSubirDocumentos}">
                        <!--<input type="file" name="archivo" onchange="eliminarError(this);" />-->
                        <div class="box">
                            <input class="inputfile inputfile-label-strong"
                                   data-multiple-caption="{count} files selected"
                                   name="archivo"
                                   onchange="mostrarNombre(this);"
                                   th:attr="id='input-' + ${puntoOrdenDia.id}"
                                   type="file"/>
                            <label th:attr="for='input-' + ${puntoOrdenDia.id}"><span></span> <strong>
                                <svg height="17"
                                     viewBox="0 0 20 17"
                                     width="20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
                                </svg>
                                seleccionar arxiu&hellip;</strong></label>
                        </div>
                        <input name="descripcion"
                               onkeyup="eliminarError(this);"
                               th:attr="placeholder='Descripción (' + ${mainLanguageDescription} + ')'"
                               type="text"/>
                        <input name="descripcionAlternativa"
                               th:attr="placeholder='Descripción (' + ${alternativeLanguageDescription} + ')'"
                               th:if="alternativeLanguage"
                               type="text"/>
                        <input class="button"
                               onclick="subirDocumentoPuntoOrdenDia(this);"
                               type="button"
                               value="Subir documento"/>
                    </form>
                </div>
                <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and ${reunion.completada}">Acords:</strong>
                <strong th:if="${not #lists.isEmpty(puntoOrdenDia.documentosAcuerdos)} and not ${reunion.completada}">Proposta
                    d'acords:</strong>
                <ul class="contentList"
                    th:with="acuerdos=${puntoOrdenDia.documentosAcuerdos}">
                    <li th:each="acuerdo : ${acuerdos}">
                        <i class="fa fa-file-o"></i>
                        <a th:href="'/goc/rest/reuniones/' + ${acuerdo.id} + '/puntosOrdenDia/' + ${puntoOrdenDia.id} + '/acuerdos/' + ${acuerdo.id} + '/descargar'"
                           th:text="${acuerdo.descripcion}">Descripcion acuerdo</a>
                        <small th:text="' [' +  ${#dates.format(acuerdo.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
                        <small class="item-publico"
                               th:if="${puntoOrdenDia.publico and acuerdo.publico}"><i
                                class="fa fa-eye"></i> <span>PÚBLIC</span></small>
                        <button class="fa fa-times"
		                        style="cursor: pointer; color: red;"
		                        th:data-acuerdoid="${acuerdo.id}"
		                        th:data-reunionid="${reunion.id}"
		                        th:data-reunionabierta="${reunion.isAbierta}"
		                        th:data-puntoordendiaid="${puntoOrdenDia.id}"
		                        th:if="${connectedUserId == acuerdo.creadorId}"
		                        th:name="'delete-doc-acuerdo-ordendia'">
		                </button>
                    </li>
                </ul>
                <strong th:if="${not #lists.isEmpty(puntoOrdenDia.descriptores)}">Descriptors:</strong>
                <ul class="contentList"
                    th:with="descriptores=${puntoOrdenDia.descriptores}">
                    <li th:each="descriptor : ${descriptores}">
                        <span th:text="${descriptor.descriptorNombre}">Nom descriptor</span>
                        :
                        <span th:text="${descriptor.claveNombre}">Nom clau</span>
                    </li>
                </ul>

                <div id="comentarios-"
                     style="display:none"
                     th:attr="id='comentarios-' + ${puntoOrdenDia.id}"
                     th:if="${reunion.admiteComentarios}">
                    <strong>Comentaris:</strong>
                    <div th:include="tpl-punto-comentario-ca ::comentario"
                         th:with="comentarios = ${puntoOrdenDia.comentarios},i=0"></div>
                </div>

                <div th:include="::puntosOrdenDia"
                     th:with="puntos = ${puntoOrdenDia.subpuntos},i=(${i}+2)"></div>
            </li>
        </ol>
    </div>
</html>
