<div th:remove="tag">
    <div>
        <div class="item" th:each="reunion : ${reuniones}">
            <div class="reunion-titulo" style="display: block"
                 th:text="${reunion.asunto}"></div>
            <div style="display: inline"
                 th:text="${#dates.format(reunion.fecha, 'dd/MM/YYYY HH:mm')}"></div>
            <div style="display: inline">
                <span class="separador">&nbsp;</span>
                <span class="documentacion"><a
                        th:href="'/goc/rest/publicacion/reuniones/' + ${reunion.id} + '?lang=' + ${applang}">Documentació</a></span>
                <span class="separador">|</span>
                <span th:if="${reunion.urlActa}"><a th:href="${reunion.urlActa}">Acta</a><span
                        class="separador"> | </span>
                </span>
                <span th:if="${reunion.urlActa == null} and (${reunion.enlaceActaProvisionalActivo == null} or ${reunion.enlaceActaProvisionalActivo == true})"><a
                        th:href="'/goc/rest/actas/' + ${reunion.id} + '?lang=' + ${applang}">Acta</a><span
                        class="separador"> | </span>
                </span>
                <span>
                    <a th:href="'/goc/rest/publicacion/reuniones/' + ${reunion.id} + '/acuerdos' + '?lang=' + ${applang}">Certificats d'acords dels punts de l'ordre del dia</a>
                </span>
                <span class="separador" th:if="${reunion.asistente}"> | </span>
                <span>
                    <a th:href="${reunion.urlAsistencia}"
                       th:if="${reunion.urlAsistencia != null}">Certificat d'assistència</a>
                    <span class="has-tip link-desactivado" data-tooltip="data-tooltip"
                          th:if="${reunion.urlAsistencia == null and reunion.asistente}"
                          title="Certificat no disponible fins que finalitze la reunió">Certificat d'assistència</span>
                </span>
            </div>
        </div>
    </div>

    <ul aria-label="Pagination"
        class="pagination text-center"
        role="navigation">
        <li class="pagination-previous">
            <a aria-label="Previous page"
               class="prevPage"
               href="#"
               th:attr="data-organo-externo=${organoExterno},data-organo-id=${organoId},data-pagina=${pagina},data-lang=${lang}"
               th:classappend="${(hasPrevPage ? '' : 'disabled')}">Anterior</a>
        </li>
        <li class="pagination-next">
            <a aria-label="Next page"
               class="nextPage"
               href="#"
               th:attr="data-organo-externo=${organoExterno},data-organo-id=${organoId},data-pagina=${pagina},data-lang=${lang}"
               th:classappend="${(hasNextPage ? '' : 'disabled')}">Següent</a>
        </li>
    </ul>

</div>
