<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="resultadosNombres">
<div th:if="${punto.mostrarResultados}"
     th:remove="tag">
    <button class="button"
            th:attr="data-cy='boton_resultados_detalle-'+${punto.id}"
            th:onclick="|abrirResultadosVotacionDetalle('${punto.id}')|"
            style="width: fit-content">Ver en detalle
        <i th:id="'icon-' + ${punto.id}"
           class="fa fa-angle-down"></i>
    </button>
    <div th:id="'votantes_punto-' + ${punto.id}"
         style="display: none; width: 100%;"
         th:attr="data-cy='votantes_punto-'+${punto.id}"
         class="punto-container__results">
        <div th:if="${punto.tipoVoto == false}"
             class="punto-voters-container">
            <h5>Han votado:</h5>
            <div class="punto-voters-container__names">
                <div class="votado"
                     th:each="votante: ${punto.votantesNombre}">
                    <span th:if="${votante.nombreDelegado == null}"
                          th:text="${votante.nombreTitular}"></span>
                    <span th:unless="${votante.nombreDelegado == null}"
                          th:text="|${votante.nombreDelegado} (${votante.nombreTitular})|"></span>
                </div>
            </div>
        </div>
        <div th:unless="${punto.tipoVoto == false}"
             class="punto-voters-container">
            <h5>Han votado:</h5>
            <div class="punto-votos-publicos ">
                <div class="favor"
                     th:attr="data-cy='resultado_a_favor_punto-'+${punto.id}">A FAVOR
                </div>
                <div class="punto-voters-container__names">
                    <div class="votado"
                         th:each="votante: ${punto.votantesNombre}"
                         th:if="${votante.voto}=='FAVOR'">
                        <span th:if="${votante.nombreDelegado == null}"
                              th:text="${votante.nombreTitular}"/>
                        <span th:unless="${votante.nombreDelegado == null}"
                              th:text="|${votante.nombreDelegado} (${votante.nombreTitular})|"/>
                    </div>
                </div>

                <span th:if="${punto.votableEnContra == true}"
                      th:remove="tag">
          <div class="contra">EN CONTRA</div>
            <div class="punto-voters-container__names">
              <div class="votado"
                   th:each="votante: ${punto.votantesNombre}"
                   th:if="${votante.voto}=='CONTRA'">
                <span th:if="${votante.nombreDelegado == null}"
                      th:text="${votante.nombreTitular}"/>
                <span th:unless="${votante.nombreDelegado == null}"
                      th:text="|${votante.nombreDelegado} (${votante.nombreTitular})|"/>
             </div>
          </div>
        </span>

                <div class="blanco">ABSTENCIÓN</div>
                <div class="punto-voters-container__names">
                    <div class="votado"
                         th:each="votante: ${punto.votantesNombre}"
                         th:if="${votante.voto}=='BLANCO'">
                        <span th:if="${votante.nombreDelegado == null}"
                              th:text="${votante.nombreTitular}"/>
                        <span th:unless="${votante.nombreDelegado == null}"
                              th:text="|${votante.nombreDelegado} (${votante.nombreTitular})|"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>