<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="organos">
	<div th:if="${not #lists.isEmpty(organos)}" class="row columns">
		<h4 class="title">Órganos y asistentes</h4>
	</div>

	<ul th:if="${not #lists.isEmpty(organos)}"
		class="contentList detalle row columns">
		<li th:each="organo : ${organos}">
			<h5 class="title" style="margin-left: 1.0rem;"
				th:text="${organo.nombre}">Órgano asistente</h5>
				<ul th:with="votosPunto=${punto.votosPunto}">
					<li th:each="voto : ${votosPunto}">
						<div>
							<i class="fa fa-angle-right"
								style="font-weight: bold; margin-right: 0.4rem;"></i> <span
								th:text="${voto.organoReunionMiembro.nombre} + ' (' + ${voto.organoReunionMiembro.email} + ')' + ' - ' + ${voto.organoReunionMiembro.cargoNombre}">Miembro</span>

						<div class="votos"
							th:data-cy="'opciones_votacion_punto-' + ${punto.id}">
							<button class="button success" name="voto-favor"
								th:data-cy="'boton_favor_votacion_punto-' + ${punto.id}"
								th:onclick="|votarPunto('${reunion.id}', '${punto.id}', 'FAVOR', 'true', '${voto.organoReunionMiembro.id}')|"
								th:disabled="${(!reunion.admiteCambioVoto && voto.voto != null) || (reunion.admiteCambioVoto && voto.voto == 'FAVOR')}">
								A favor
							</button>
							<button class="button alert" name="voto-contra"
								th:data-cy="'boton_contra_votacion_punto-' + ${punto.id}"
								th:onclick="|votarPunto('${reunion.id}', '${punto.id}', 'CONTRA', 'true', '${voto.organoReunionMiembro.id}')|"
								th:if="${punto.votableEnContra == true}"
								th:disabled="${(!reunion.admiteCambioVoto && voto.voto != null) || (reunion.admiteCambioVoto && voto.voto == 'CONTRA')}">
								En contra
							</button>
							<button class="button" name="voto-blanco"
								th:data-cy="'boton_blanco_votacion_punto-' + ${punto.id}"
								th:onclick="|votarPunto('${reunion.id}', '${punto.id}', 'BLANCO', 'true', '${voto.organoReunionMiembro.id}')|"
								th:disabled="${(!reunion.admiteCambioVoto && voto.voto != null) || (reunion.admiteCambioVoto && voto.voto == 'BLANCO') || (!permiteAbstencionVoto)}">
								Abstención
							</button>
							<span th:if="${punto.tipoVoto != null}"
								th:data-cy="'texto_confirmacion_votacion_realizada-' + ${punto.id}">
								<span th:if="${voto.voto == 'FAVOR'}"> Se ha votado a favor </span>
								<span th:if="${voto.voto == 'CONTRA'}"> Se ha votado en contra </span>
								<span th:if="${voto.voto == 'BLANCO'}">Se ha votado en blanco </span>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
</html>