<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia">
    <fieldset class="fieldset"
              th:each="puntoDia : ${puntos}"
              th:if="${puntoDia.publico}">
        <legend th:text="${puntoDia.titulo}"></legend>
        <div th:if="${puntoDia.acuerdos}"
             th:utext="${#strings.replace(puntoDia.acuerdos,'\n','&lt;br&gt;')}"></div>
        <div th:with="acuerdos=${puntoDia.documentosAcuerdos}"
             th:remove="tag">
            <div th:each="acuerdo : ${acuerdos}">
                <div th:if="${acuerdo.publico == true}">
                    <i class="fa fa-file-o"></i>
                    <a th:href="'/goc/rest/reuniones/' + ${acuerdo.id} + '/puntosOrdenDia/' + ${puntoDia.id} + '/acuerdos/' + ${acuerdo.id} + '/descargar'"
                       th:text="${acuerdo.descripcion}">Descripcion acuerdo</a>
                    <small th:text="' [' +  ${#dates.format(acuerdo.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
                </div>
            </div>
        </div>
        <div>
            <strong>Documentos adjuntos:</strong>
        </div>

        <div th:with="documentos=${puntoDia.documentos}"
             th:remove="tag">
            <div th:each="documento : ${documentos}">
                <div th:if="${documento.publico == true}">
                    <i class="fa fa-file-o"></i>
                    <a th:href="'/goc/rest/reuniones/' + ${documento.id} + '/puntosOrdenDia/' + ${puntoDia.id} + '/documentos/' + ${documento.id} + '/descargar'"
                       th:text="${documento.descripcion}">Descripcion documento</a>
                    <small th:text="' [' +  ${#dates.format(documento.fechaAdicion, 'dd/MM/YYYY HH:mm')} + ']'"></small>
                </div>
            </div>
        </div>
        <a th:if="${puntoDia.urlActa}"
           th:href="${puntoDia.urlActa}">Certificado</a>
        <div th:include="::puntosOrdenDia"
             th:with="puntos = ${puntoDia.subpuntos},i=(${i}+2)"></div>
    </fieldset>
</div>
</html>