<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia">
    <ol>
        <li
                th:each="punto, stat: ${puntosOrdenDia}"
        >
            <div class="punto-wrapper">
                <div
                        class="punto-container"
                        style="margin-bottom: 15px"
                >
                    <div class="punto-container__info">
                        <div>
                            <h5 th:text="${punto.titulo}"></h5>
                            <span th:if="${punto.tipoVoto == true}"
                                  class="point-type">Votació pública - </span>
                            <span th:if="${punto.tipoVoto == false}"
                                  class="point-type">Votació secreta - </span>
                            <span th:if="${punto.tipoRecuentoVoto == 'MAYORIA_SIMPLE'}"
                                  class="point-type">Majoria simple</span>
                            <span th:if="${punto.tipoRecuentoVoto == 'MAYORIA_ABSOLUTA_PRESENTES'}"
                                  class="point-type">Majoria absoluta dels presents</span>
                            <span th:if="${punto.tipoRecuentoVoto == 'MAYORIA_ABSOLUTA_ORGANO'}"
                                  class="point-type">Majoria absoluta dels órgans</span>
                            <span th:if="${punto.tipoRecuentoVoto == 'MAYORIA_DOS_TERCIOS'}"
                                  class="point-type">Majoria de dos terços dels órgans</span>
                        </div>
                        <div th:if="${punto.descripcion != null && punto.descripcion != ''}">
                            <span style="font-weight: bold">Descripció: </span>
                            <span th:text="${punto.descripcion}"></span>
                        </div>
                    </div>

                    <div th:if="${punto.mostrarResultados}"
                         th:remove="tag">
                        <div class="punto-container__results">
                            <div class="punto-container-results__content">
                                <div class="approved">APROVAT</div>
                                <div class="favor">A FAVOR</div>
                                <div class="contra"
                                     th:if="${punto.votableEnContra == true}">EN CONTRA
                                </div>
                                <div class="blanco">ABSTENCIÓ</div>
                            </div>
                            <div class="punto-container-results__content votes">
                                <div>
                                    <i
                                            th:attr="class=${punto.isAprobado ? 'fa fa-check' : 'fa fa-times'}"
                                            th:style="${punto.isAprobado ? 'color:green' : 'color:red'}"></i>
                                </div>
                                <div th:text="${punto.votosFavor ? punto.votosFavor : 0}"/>
                                <div th:if="${punto.votableEnContra == true}"
                                     th:text="${punto.votosContra ? punto.votosContra : 0}"/>
                                <div th:text="${punto.votosBlanco ? punto.votosBlanco : 0}"/>
                            </div>
                        </div>

                    </div>
                </div>
                <div th:unless="${punto.tipoVoto == false && punto.tipoVotacion == 'PRESENCIAL'}"
                     th:remove="tag">
                    <span th:replace="tpl-resultados-votacion-nombres-ca :: resultadosNombres(punto=${punto})"></span>
                </div>

                <div
                        th:if="${!#lists.isEmpty(punto.subpuntos)}"
                        class="subpuntos__container"
                >
                </div>

                <span th:replace="tpl_votacion-resultado-puntoordendia-ca :: puntosOrdenDia(puntosOrdenDia=${punto.subpuntos})"></span>
            </div>
        </li>
    </ol>
</div>
</html>