<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="puntosOrdenDia">
    <ol>
        <li
                class="punto--info"
                th:each="punto: ${puntosOrdenDia}"
        >
            <div class="votacion-info-punto">
                <h5 th:text="${punto.titulo}"></h5>
                <div>
                                <span class="point-type"
                                      th:if="${punto.tipoVoto == true}">Votació pública - </span>
                    <span class="point-type"
                          th:if="${punto.tipoVoto == false}">Votació secreta - </span>
                    <span class="point-type"
                          th:if="${punto.tipoRecuentoVoto == 'MAYORIA_SIMPLE'}">Majoria simple</span>
                    <span class="point-type"
                          th:if="${punto.tipoRecuentoVoto == 'MAYORIA_ABSOLUTA_PRESENTES'}">Majoria absoluta dels presents</span>
                    <span class="point-type"
                          th:if="${punto.tipoRecuentoVoto == 'MAYORIA_ABSOLUTA_ORGANO'}">Majoria absoluta dels órgans</span>
                    <span class="point-type"
                          th:if="${punto.tipoRecuentoVoto == 'MAYORIA_DOS_TERCIOS'}">Majoria de dos terços dels órgans</span>
                </div>
            </div>

            <div class="votacion-state"
                 th:data-cy="'estado_votacion_punto-' + ${punto.id}"
                 th:if="${punto.tipoVoto != null}">
                            <span class="point-type"
                                  th:if="${punto.tipoProcedimientoVotacion != 'NO_VOTABLE'}">
                                <span
                                        th:data-cy="'votacion_abierta_punto-' + ${punto.id}"
                                        th:if="${punto.votacionAbierta == true}">
                                    Votació oberta
                                </span>
                                <span
                                        th:data-cy="'votacion_cerrada_punto-' + ${punto.id}"
                                        th:unless="${punto.votacionAbierta == true}">
                                     Votació tancada
                                </span>
                            </span>

                <button
                        class="button primary"
                        th:data-cy="'abrir_votacion_punto-' + ${punto.id}"
                        th:if="${
                                    punto.abrible == true &&
                                    (punto.votacionAbierta == null || punto.votacionAbierta == false) &&
                                    isRolGestorAperturaVotacion
                              }"
                        th:onclick="|abrirVotacionPuntoOrdinario('${punto.id}')|"
                >
                    Obrir votació
                </button>

                <button
                        class="button secondary"
                        th:data-cy="'cerrar_votacion_punto-' + ${punto.id}"
                        th:if="${
                                        punto.abrible == true &&
                                        punto.tipoProcedimientoVotacion != 'NO_VOTABLE' &&
                                        punto.votacionAbierta == true &&
                                        isRolGestorAperturaVotacion &&
                                        punto.tipoVotacion != 'PRESENCIAL'
                              }"
                        th:onclick="|cierraVotacionPunto('${punto.id}')|"
                >
                    Tancar votació
                </button>
            </div>

            <div th:if="${punto.tipoVoto != null}">
                <span>Vots emesos: </span>
                <span th:text="${punto.recuentoVotos}"></span>
            </div>

            <div th:if="${punto.tipoVoto and not #lists.isEmpty(punto.votosPunto)}">
                <span>Han votat: </span>
                <ul class="contentList" th:with="votos=${punto.votosPunto}">
                    <li th:each="voto : ${votos}">
                        <div>
                            <i class="fa fa-angle-right"
                               style="font-weight: bold; margin-right: 0.2rem;"></i>
                            <span th:text="${voto.organoReunionMiembro.nombre}"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="punto-orden-votacion"
                 th:if="${punto.descripcion != ''}">
                <strong th:if="${punto.descripcion != ''}">Descripció:</strong>
                <h6 th:text="${punto.descripcion}"></h6>
            </div>

            <div th:if="${punto.tipoVotacion == 'PRESENCIAL'}">

                <div th:if="${isRolGestorAperturaVotacion}">
                    <div th:if="${punto.tipoVoto != null && punto.tipoVoto}">
                        <span th:replace="tpl_votacion-presencial-puntoordendia-ca :: organos(organos=${reunionOrganos}, punto=${punto})"></span>
                    </div>
                    <div th:if="${punto.tipoVoto != null && punto.tipoVoto == false && punto.votacionAbierta == true}">
                        <span th:replace="tpl_votacion-presencial-puntoordendia-secreto-ca :: organos(organos=${reunionOrganos}, punto=${punto})"></span>
                    </div>
                </div>
                <div th:unless="${isRolGestorAperturaVotacion}">
                    <span>La votació ha sigut configurada com presencial</span>
                </div>

            </div>

            <div th:if="${((asiste && tieneDelegado == false && tieneSuplente == false) || esElSuplente == true) && punto.tipoVoto != null && punto.votacionAbierta == true}">
                <div class="votos"
                     th:data-cy="'opciones_votacion_punto-' + ${punto.id}"
                     th:if="${punto.tipoVotacion == 'TELEMATICA'}">
                    <button
                            class="button success"
                            name="voto-favor"
                            th:data-cy="'boton_favor_votacion_punto-' + ${punto.id}"
                            th:disabled="${
                              (!reunion.admiteCambioVoto && punto.voto != null)
                              || (reunion.admiteCambioVoto && punto.voto == 'FAVOR')
                              }"
                            th:onclick="|votarPunto('${reunion.id}', '${punto.id}', 'FAVOR', '${punto.voto != null}')|"
                    >
                        A favor
                    </button>
                    <button
                            class="button alert"
                            name="voto-contra"
                            th:data-cy="'boton_contra_votacion_punto-' + ${punto.id}"
                            th:disabled="${
                              (!reunion.admiteCambioVoto && punto.voto != null)
                              || (reunion.admiteCambioVoto && punto.voto == 'CONTRA')
                              }"
                            th:if="${punto.votableEnContra == true}"
                            th:onclick="|votarPunto('${reunion.id}', '${punto.id}', 'CONTRA', '${punto.voto != null}')|"
                    >
                        En contra
                    </button>
                    <button
                            class="button"
                            name="voto-blanco"
                            th:data-cy="'boton_blanco_votacion_punto-' + ${punto.id}"
                            th:disabled="${
                              (!reunion.admiteCambioVoto && punto.voto != null)
                              || (reunion.admiteCambioVoto && punto.voto == 'BLANCO')
                              || (!permiteAbstencionVoto)
                              }"
                            th:onclick="|votarPunto('${reunion.id}', '${punto.id}', 'BLANCO', '${punto.voto != null}')|"
                    >
                        Abstenció
                    </button>
                    <span th:data-cy="'texto_confirmacion_votacion_realizada-' + ${punto.id}"
                          th:if="${punto.tipoVoto != null}">
                                <span th:if="${punto.voto == 'FAVOR'}">
                                    S'ha votat a favor
                                </span>
                                 <span th:if="${punto.voto == 'CONTRA'}">
                                    S'ha votat en contra
                                </span>
                                 <span th:if="${punto.voto == 'BLANCO'}">
                                    S'ha votat en blanc
                                </span>
                            </span>
                </div>
            </div>

            <div
                    class="subpuntos__container"
                    th:if="${!#lists.isEmpty(punto.subpuntos)}"
            >
                <span th:replace="tpl_votacion-puntoordendia-ca :: puntosOrdenDia(puntosOrdenDia=${punto.subpuntos})"></span>
            </div>
        </li>
    </ol>
</div>
</html>