<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:substituteby="head-es"/>
    <script src="/goc/js/votaciones-puntos.js"></script>
    <link href="/goc/css/votaciones.css"
          rel="stylesheet">
    <link href="/goc/css/votacion-resultado.css"
          rel="stylesheet">
    <link href="/goc/css/loading.css" rel="stylesheet"/>
    <script src="/goc/js/loading.js"></script>
    <body>
        <div id="cmpcomponent-loading"></div>
        <div class="off-canvas-content"
             data-off-canvas-content="data-off-canvas-content">
            <div th:substituteby="header-es"/>
        </div>
        <main class="columns reunion">
            <div class="row columns">
                <h1 class="title"
                    th:text="'Reunión: ' + ${reunion.asunto}">title</h1>
                <h6 th:if="${reunion.fechaFinVotacion != null}"
                    th:text="'Fecha de cierre de la votación: ' + ${#dates.format(reunion.fechaFinVotacion, 'dd-MM-yyyy (HH:mm)')}">
                </h6>
            </div>
            <div class="row columns">
                <h3 class="title">Puntos del orden del día</h3>

                <div class="selector-votante"
                     th:if="${not #lists.isEmpty(votantesRepresentados)}">
                    <div class="selector-votante-info">
                        <span>Tiene votantes delegados.</span>
                        <span>Seleccione el votante que quiere representar: </span>
                    </div>
                    <select
                            id="selector"
                            th:data-cy="selector-votante"
                            th:onchange="|onChangeVotanteRepresentado('${reunion.id}')|"
                    >
                        <option value="0">Votar en mi nombre</option>
                        <option th:each="representado: ${votantesRepresentados}"
                                th:selected="${organoReunionMiembroId == representado.miembroId}"
                                th:text="${representado.nombre}"
                                th:value="${representado.miembroId}">
                        </option>
                    </select>
                </div>
            </div>
            <span th:if="${not #lists.isEmpty(reunion.puntosOrdenDia)}">
            <div class="row columns">
                  <span th:replace="tpl_votacion-puntoordendia-es :: puntosOrdenDia(puntosOrdenDia=${reunion.puntosOrdenDia}, reunionOrganos=${reunion.organos})"></span>
            </div>
        </span>
        </main>

        <div class="modal"
             id="miembrosNatosPorVotar-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>La votación no se puede cerrar</h4>
                    <span>Todavía faltan los siguientes miembros natos por votar: </span>
                    <i
                            class="fa fa-times"
                            id="miembrosNatosPorVotar-close"
                    ></i>
                </div>
                <div id="miembrosNatosPorVotar-modal-body">

                </div>
            </div>
        </div>
    </body>
</html>