<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:substituteby="head-es"/>
<head>
    <link rel="stylesheet"
          href="/goc/css/votacion-resultado.css">
</head>
<body>
<div class="off-canvas-content"
     data-off-canvas-content="data-off-canvas-content">
    <div th:substituteby="header-es"/>
</div>
<main class="columns reunion">
    <div class="row columns">
        <h1 th:text="'Reunión: ' + ${reunion.asunto}"
            class="title">title</h1>
    </div>
    <div class="row columns">
        <h3 class="title">Resultado de la votación</h3>
    </div>
    <div class="row columns">
        <span th:replace="tpl_votacion-resultado-puntoordendia-es :: puntosOrdenDia(puntosOrdenDia=${puntosOrdenDia})"></span>
    </div>
</main>
<script src="/goc/js/script.js"></script>
</body>
</html>
