#cmpcomponent-loading {
    position: fixed;
    width: 100%;
    top: 40%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 999999;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cmpcomponent-loading::after {
    content: '';
    display: block;
    position: absolute;
    left: 49%;
    top: 40%;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-color: gray;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

