body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #555;
}

#landing-loading {
    margin: 200px auto;
    width: 200px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

ol {
    counter-reset: index;
    list-style-type: none;
}

.punto-dia::before {
    counter-increment: index;
    content: counters(index, '.', decimal);
}

.link {
    text-decoration: none;
    color: #222;
}

.link-desactivado {
    color: #222;
    font-size: 0.9em;
}

.comentario {
    padding: .5em 2em;
    background: #EFEFEF;
    border-bottom: 3px solid #CCC;
    margin-bottom: 1em;
}

.delete-comentario, .delete-comentario-punto {
    float: right;
}

.delete-comentario {
    padding-right: 1em;
    padding-top: 0.8em;
}

.delete-comentario-punto {
    padding-top: 0.2rem;
    padding-right: 0px;
    margin-right: -1rem;
}

.activo {
    background-color: #999999 !important;
}

.nuevo-suplente .header, .nuevo-delegado-voto .header {
    width: 100%;
}

.nuevo-suplente .header input[type=text], .nuevo-delegado-voto .header input[type=text] {
    width: 320px;
    margin-right: 1em;
}

.nuevo-suplente .footer, .nuevo-delegado-voto .footer {
    text-align: right;
    margin-top: 1em;
}

.nuevo-suplente .footer button, .nuevo-delegado-voto .footer button {
    display: none;
}

.nuevo-suplente p.suplente-actual, .nuevo-delegado-voto p.delegado-voto-actual {
    display: none;
    padding-bottom: 1em;
    border-bottom: 1px solid #CCC;
}

.nuevo-suplente ul li, .nuevo-delegado-voto ul li {
    list-style: none;
}

ul.lang {
    padding: 0;
    margin: 0;
    color: white;
    background: url(//e-ujier.uji.es/img/portal2/imagenes/cabecera_1px.png) repeat-x scroll left top transparent;
    height: 70px;
    padding-top: 35px;
}

ul.lang li {
    list-style: none;
    display: inline-block;
    margin-right: .5em;
}

ul.lang li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.header {
    height: 120px;
    margin-bottom: 2em;
    line-height: 100px;
    vertical-align: middle;
}

.header img {
    float: left;
    margin-right: 1em;
}

.header h1 {
    margin: .5em 0 0 0;
    float: left;
}

h1 {
    font-size: 2.1em !important;
    font-weight: normal;
}

.topmenu {
    margin-top: 1em;
    float: right;
}

.content {
    width: 80%;
    min-width: 800px;
    margin: auto;
}

.topmenu ul {
    margin: 0;
    padding: 0;
}

.topmenu ul li {
    display: inline-block;
    padding-right: 1em;
    list-style: none;
}

.topmenu ul li a {
    font-weight: normal;
    text-decoration: none;
    color: #333;
}

.topmenu ul li a:hover {
    font-weight: normal;
    text-decoration: underline;
    color: #333;
}

.header-center {
    background: url(//e-ujier.uji.es/img/portal2/imagenes/cabecera_1px.png) repeat-x scroll left top transparent;
    height: 70px;
}

.header-logo {
    float: left;
    margin: 10px 16px;
}

.header-title {
    float: left;
    margin-top: 24px;
}

.header-title-def {
    color: #CDCCE5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.header-right {
    background: url(//e-ujier.uji.es/img/portal2/imagenes/cabecera_1px.png) repeat-x scroll left top transparent;
    height: 70px;
    padding-top: 35px;
}


.header-right-plus {
    background: url(//e-ujier.uji.es/img/portal2/imagenes/cabecera_1px.png) repeat-x scroll left top transparent;
    height: 70px;
    padding-top: 38px;
}

.header-right-title {
    color: #CDCCE5;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

i.fa-caret-right, .fa-caret-down {
    padding-right: 16px;
    font-size: 1.5em !important;
}

div.collapsed {
    display: none;
}

div.expanded {
    display: initial;
}

.reunion blockquote {
    color: #7a7a7a;
}

.reunion .detalle {
    color: #7a7a7a;
    padding-left: 2.5em;
}

div.reunion-titulo {
    color: #666;
    display: inline;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.8em;
}

.topHeader {
    padding: 16px 0;
}

h1.title {
    color: #0193bc;
    font-size: 1.6em !important;
    padding-top: 1em;
}

h2.title {
    color: dimgray;
    padding-top: 1em;
    font-size: 1.5em !important;
}

h3.title {
    color: dimgray;
    font-size: 1.4em !important;
}

h4.title {
    color: dimgray;
    font-size: 1.3em !important;
}

.gray-menu-bar {
    background: #e3e4e6;
}

.contentList li {
    list-style: none;
}

.lista-reuniones a {
    font-weight: normal !important;
}

.gray-menu-bar a, .collaptor, .langMenu a, .langMenu span.disabled, a.delete-comentario, a.delete-comentario-punto {
    color: #363636;
}

.langMenu a {
    font-size: 0.9em;
}

.langMenu span.disabled {
    font-size: 0.9em;
}

.asistencia {
    font-weight: bold;
}

.asistira {
    color: #3adb76;
}

.no-asistira {
    color: #cc4b37;
}

.pendiente {
    color: orange;
}

.item-publico {
    color: #006400;
    font-weight: bold;
}

li .tag {
    display: inline-block;
    width: 15em;
    vertical-align: top;
}

li .value {
    display: inline-block;
    vertical-align: bottom;
}

/*Para forzar un scrollbar horizontal en el componente multiselector-search de extjs, debido a un bug que no permite redimensionar la ventana*/
div[id^="multiselector-search"][id$="body"] {
    overflow-x: auto;
}

div[id^="multiselector-search"][id$="body"] div[id^="tableview"] {
    overflow-x: auto !important;
}

div[id^="multiselector-search"][id$="body"] div[id^="tableview"] td[role^="gridcell"] {
    width: 1000px !important;
}

.form-subida-documento-punto-orden-dia input[type="text"], input[type="file"] {
    width: 100% !important;
}

.form-invalido {
    border-color: red !important;
}

.input-documento {
    height: 1.5rem !important;
    font-size: 1rem !important;
    margin-bottom: 10px !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    height: 1.5rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-label-strong + label {
    color: #3679ba;
}

.inputfile-label-strong + label {
    border: 1px solid #3679ba;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-label-strong:focus + label,
.inputfile-label-strong.has-focus + label,
.inputfile-label-strong + label:hover {
    border-color: #3679ba;
}

.inputfile-label-strong + label span {
    width: 50%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    font-size: .7rem;
}

.inputfile-label-strong + label strong {
    height: 100%;
    width: 50%;
    color: #f1e5e6;
    background-color: #3679ba;
    display: inline-block;
    text-align: center;
    font-size: .9rem;
}

.inputfile-label-strong:focus + label strong,
.inputfile-label-strong.has-focus + label strong,
.inputfile-label-strong + label:hover strong {
    background-color: #3679ba;
}

@media screen and (max-width: 50em) {
    .inputfile-label-strong + label strong {
        display: block;
    }

    .readonly input {
        background-color: #aeaeae !important;
    }

    /*---------------------------------------------------------------------------------------------------------------------------------------------*/
    @media only screen and (max-device-width: 480px) {
        .list li {
            border-bottom: 1px solid #CCCCCC;
            padding-bottom: 20px;
            margin-top: 20px;
            border-left: 3px solid #000;
            padding-left: 20px;
            list-style: none;
        }

        .list ul {
            padding-left: 0;
        }

        li strong, .list li span.documentacion, .list li span.acta, .list li span.titulo, .list li span.certificado {
            display: block;
        }

        .separador {
            display: none;
        }

        li strong, .list li span.titulo {
            font-size: 2em;
        }

        .list li span.documentacion a, .list li span.acta a, .list li span.certificado a {
            display: block;
        }

        .list li span.documentacion, .list li span.acta, .list li span.certificado {
            border-top: 1px solid #FFFFFF;
            background-color: #eee;
        }

        .header img {
            width: 200px;
        }

        .header h1 {
            font-size: 4em;
            font-weight: normal;
        }

        .list {
            clear: both;
        }

        .topmenu {
            top: 10px;
            right: 10px;
            position: absolute;
        }

        .topmenu a {
            font-size: 3em;
        }
    }
}

.punto-orden-votacion {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.punto-orden-votacion > strong {
    margin-right: 5px;
}

.votos > button {
    margin-right: 5px;
}

.tab-reuniones {
    color: #fefefe;
    background: #1779ba;
    transition: 0.3s;
}

.menu a.tab-reuniones:hover {
    color: #fefefe !important;
    background: #14679e;
}

.lista-reuniones .item {
    padding-bottom: 1rem;
}

.lista-reuniones .item:not(:last-child) {
    border-bottom: 1px solid #DFDFDF;
}

.lista-reuniones.historico .pagination {
    padding-top: 1rem;
}

.lista-reuniones.historico a.prevPage, .lista-reuniones.historico a.nextPage {
    font-weight: bold !important;
}