.votacion-info-punto {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

h5 {
    color: #45515d;
    font-weight: 500;
}

.votacion-info-punto > div {
    margin-bottom: 10px;
    color: dimgray;
}

.votacion-state {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.votacion-state > button {
    margin-left: 15px;
    height: 28px;
    display: flex;
    align-items: center;
}

.votacion-state > span {
    color: dimgray;
}

#miembrosNatosPorVotar-modal {
    display: none;
    position: absolute;
    left: 33%;
    top: 25%;
    border: 1px solid #5fa2dd;
    box-shadow: rgb(143 144 148) 4px 4px 8px;
}

.modal--open {
    display: flex !important;
    width: 500px;
}

.modal-content {
    width: 100%;
}

.modal-header {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.modal-header > span {
    color: dimgray;
}

#miembrosNatosPorVotar-close {
    position: absolute;
    right: 25px;
    top: 19px;
    font-size: 24px;
    cursor: pointer;
}

#miembrosNatosPorVotar-close:hover {
    opacity: .65;
}

#miembrosNatosPorVotar-modal-body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.punto--info {
    margin-bottom: 12px;
    background-color: #EFF2F5;
    padding: 10px;
}

.subpunto--info {
    margin-left: 20px;
}

.selector-votante {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
}

#selector {
    max-width: 350px;
}

.selector-votante-info {
    display: flex;
    flex-flow: column;
    margin-right: 20px;
}

.selector-votante span {
    color: dimgray;
    font-size: 14px;
}

@media (min-device-width: 300px) and (max-device-width: 640px) {
    .title {
        font-size: 40px !important;
    }

    .votacion-info-punto > h5 {
        font-size: 46px;
    }

    .point-type {
        font-size: 32px;
    }

    .votos > button {
        width: 28%;
        height: 95px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .punto--info {
        margin-bottom: 30px;
        font-size: 32px;
    }

    .row.columns > .title {
        font-size: 46px !important;
    }
}