.punto-wrapper {
    display: flex;
    flex-flow: column;
    margin-bottom: 12px;
    background-color: #EFF2F5;
    padding: 5px;
}

.punto-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border: 1px solid #e3e4e6;
    color: dimgray;
    width: 100%;
}

.punto-container__info {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 55%;
    padding: 6px;
}

h5 {
    font-weight: 500;
    color: #45515d;
}

.punto-container__results {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 45%;
    border-left: 1px solid #e3e4e6;
    text-transform: uppercase;
}

.punto-container-results__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-bottom: 1px solid #e3e4e6;
}

.punto-container-results__content > div {
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
    border-right: 1px solid #e3e4e6;
    width: 50%;
    height: 100%;
    align-items: center;
}

.punto-container-results__content > .approved {
    color: dimgray;
}

.punto-container-results__content > .emited-votes {
    border-right: none;
    color: green;
}

.punto-container-results__content > .total-votes {
    border-right: none;
}

.punto-container-results__content.votes {
    height: 100%;
    align-items: center;
}

.punto-container__results .favor {
    color: green;
}

.punto-container__results .contra {
    color: red;
}

.punto-container__results .blanco {
    color: lightseagreen;
}

.punto-container__results .neutro{
    color: black;
    font-weight: bold;
}


.point-type {
    font-size: 13.5px;
    color: dimgray;
}

.punto-voters-container {
    border: 1px solid #e3e4e6;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    color: dimgray;
}

.punto-voters-container > h5{
    text-transform: none;
}

.punto-voters-container > .punto-votos-publicos {
    margin-left: 10px;
}

.punto-votos-publicos > div{
    display: inline-block;
}

.punto-votos-publicos > div[class=favor],div[class=contra],div[class=blanco]{
    font-weight: 600;
    display: flex;
}

.punto-voters-container > .punto-voters-container__names {
    display: inline-block;
}

.punto-voters-container__names > .votado {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid darkgrey;
    text-transform: none;
    display: inline-block;
}

.punto-voters-container__names>.votado:last-of-type{
    border-right: none;
}

.subpuntos__container {
    padding: 6px;
}

.subpunto_li {
    margin-left: 20px;
}

@media (min-width: 400px) and (max-width: 992px) {
    .punto-container {
        flex-flow: column;
        justify-content: space-between;
    }

    .punto-container__info {
        width: 100%;
    }

    .punto-container__results {
        width: 100%;
        margin-top: 10px;
    }

    .punto-container__results > .punto-container-results__content {
        border-top: 1px solid #e3e4e6;
        height: 40px;
    }

    .subpunto_li {
        margin-left: 0px;
    }
}

@media (min-device-width: 300px) and (max-device-width: 640px) {
    .main {
        border: 3px solid purple;
    }

    .punto-container-results__content {
        font-size: 23px;
    }

    .punto-container-results__content.votes{
        font-size: 28px;
    }

    h5 {
        font-size: 35px;
    }

    .point-type {
        font-size: 25.5px;
    }
}

.punto-voters-container > ul {
    margin-bottom: 0;
}